flask
flask-cors
opencv-contrib-python-headless
easyocr
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
numpy<2
pillow
pandas
seaborn
gunicorn